* { box-sizing: border-box; padding:0; margin: 0; }

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#333 url(/images/classy_fabric.png);
}

form{
  background:#111; 
  width:700px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}


form:before {
  content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
  padding:20px; 
  border-top:1px solid #19191a;
}

form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

form h1:after {
  content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}

label {
  color:#666;
  display:block;
  padding-bottom:9px;
}


input[type=password] {
  width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}

label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:top;
}

.p-container {
  padding:0 20px 20px 20px; 
}

.p-container:after {
  clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}

input[type=submit] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#0184ff;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
  background:#27292c;
}
/* h5bp.com/css */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #20A6DB; color: #fff; text-shadow: none; }
::selection { background: #20A6DB; color: #fff; text-shadow: none; }

a { color: #20A6DB; text-decoration: none;
  -webkit-transition:all .3s ease-in-out;
     -moz-transition:all .3s ease-in-out;
       -o-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;
}
a:visited { color: #20A6DB; }
a:hover { color: #25BBF7; }
/* a:focus { outline: thin dotted; } */
a:focus { outline: none; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* Primary Styles */

body { color: #333; padding: 0 1.5em 3em; }

header { text-align: center; padding-top: 10px; }

h1, h2, h3 {
  font-family: 'Courgette', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {margin-top:2em;}
h2 a,
h2 span { font-size: .8em; }

h3 {
  font-size: 1.1em;
  margin-bottom: 1em;
}

h2 span,
h3 span { color: #AAA; }

p, pre { margin: 0.5em 0 1.5em; }

pre {
  font-size: .8em;
  color: #555;
  background: #EEE;
  padding: 1.5em 0 1.5em 1.5em;

  -webkit-border-radius: 10px;
          border-radius: 10px;
}


#wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.logo { padding-right: 10px; margin-top: -5px; }
.follow-btn { width: 169px; margin: 0 auto; }

.example { margin-bottom: 1.5em; }

.example div {
  float: left;
  text-align: center;
  background: #DDD;
  margin: 10px;
  padding: 10px;
}

.sub { font-weight: bold; }

input[readonly] {
  margin-top:8px;
  width:330px;
  font-size:13px;
  padding:6px;
  border:solid 1px #eee;
  border-radius:2px;
  cursor:pointer;
  border-radius:4px;
}

#author {
  overflow: hidden;
  margin-bottom: 1.5em;
}

#author span {
  display: inline-block;
  *display: block;
  zoom: 1;
  margin-top: 5px;
}

#resize-graphic {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: .6;
}
.content {
  margin: 0px auto;
  width: 600px;
}
.comment {
  /*border: 1px solid #DDDDDD;*/

    box-shadow: 0 2px 5px #666666;
  border-radius: 8px 8px 8px 8px;
  list-style: none outside none;
  margin: 15px 0 10px;
  padding: 15px;
  width: 96%;
}
.comment-avatar {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 6%;
  margin-left: 10px;
}
.comment-autor {
  float: left;
  margin: 10px 10px 19px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 74%;
}
.comment-text {
  margin-right: 10px;
  margin-top: 71px;
  padding-left: 10px;
  padding-top: 10px;
}
#register_form {
  box-shadow: 0 2px 5px #666666;
  border-radius: 8px 8px 8px 8px;
  list-style: none outside
.footer-ad { width:100%; text-align: center; margin: 4em 0; }
.footer-ad img { width:100%; max-width: 728px; border: solid 1px #eee; }

/* Helpers */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }*/